<body ng-controller="loggedCtrl">
    <form novalidate name="form.changePasswordForm">
        <label class="item item-input" ng-class="form.changePasswordForm.oldPassword.$invalid && form.changePasswordForm.oldPassword.$dirty ? 'item-assertive' : ''">
            <input name="oldPassword" ng-model="data.oldPassword" type="password" placeholder="Twoje stare hasło" required>
            <span class="padding-right ion-alert" ng-if="form.changePasswordForm.oldpassword.$invalid && form.registerForm.oldPassword.$dirty"></span>
        </label>
        <label class="item item-input" ng-class="form.changePasswordForm.password.$invalid && form.changePasswordForm.password.$dirty ? 'item-assertive' : ''">
            <input name="password" ng-model="data.password" type="password" placeholder="Nowe hasło" ng-minlength="6" required>
            <span class="padding-right ion-alert" ng-if="form.changePasswordForm.password.$invalid && form.changePasswordForm.password.$dirty"></span>
        </label>
        <label class="item item-input" ng-class="form.changePasswordForm.repassword.$invalid && form.changePasswordForm.repassword.$dirty ? 'item-assertive' : ''">
            <input name="repassword" ng-model="data.repassword" type="password" placeholder="Powtórz nowe hasło" pattern="{{data.password}}" required>
            <span class="padding-right ion-alert" ng-if="form.changePasswordForm.repassword.$invalid && form.changePasswordForm.repassword.$dirty"></span>
        </label>
    </form>
</body>