   
<ion-view view-title="O autorze">
    <ion-content overflow-scroll="false" has-bouncing="false">
        <div class="card no-margin">
            <div class="item item-divider">
               O mnie
            </div>
            <div class="item item-text-wrap">
                <p>Copyright &copy; 2016/2017 <b>Grzegorz Kasperski</b></p><br/>
                <p>Jestem studentem Uniwersytetu Zielonogórskiego</p>
                <p>Aplikacja jest projektem inżynierskim i została napisana w oparciu o framework Ionic.</p>
                <p>Wszelkie uwagi należy kierować na adres pocztowy uwagi@wordlearn.pl</p>
            </div>
        </div>
        <div class="card no-margin">
            <div class="item item-divider">
                Wersja / Build
            </div>
            <div class="item item-text-wrap">
                <p>v1.0</p>
            </div>
        </div>
    </ion-content>
</ion-view>